import { NextResponse } from 'next/server';

export async function GET() {
  return NextResponse.json({
    project: '{{ project_name }}',
    status: 'online',
    mode: '{{ deployment_mode }}'
  });
}
